/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    modules_testdata_base_path = "${projectDir}/tests/test_data/"
    pipelines_testdata_base_path = "${projectDir}/tests/test_data/"
    outdir = 'results'
}

process {
    resourceLimits = [
        cpus: 1,
        memory: '8.GB',
        time: '1.h'
    ]
}
